body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.header {
  position: absolute;
  width: 100%;
}
header .container {
  padding: 0 24px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  line-height: 1.21;
  color: #fff;
  padding: 12px 0;
}
.header-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-li-text {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  padding: 12px 0;
}
.logo-first {
  color: #28a745;
}
/* HERO */
.hero {
  padding-top: 279px;
  padding-bottom: 282px;
  background-color: #2f9368;
  background-image: url(../images/Rectangle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
}

.hero-title {
  justify-content: center;
  display: flex;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #e9e9e9;
}

.hero-text {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  color: #e9e9e9;
  line-height: 1.64736;
  justify-content: center;
  margin-bottom: 32px;
}

.hero-btn {
  border-radius: 5px;
  border: none;
  background: #28a745;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  line-height: 1.56444;
  height: 48px;
  min-width: 165px;
  display: block;
  margin: 0 auto;
}
.about {
  background-color: #28a745;
}
.about-container {
  display: flex;
}
.about-image {
  width: 670px;
  height: 460px;
}
.about-img {
}
.about-info {
  width: 690px;
  height: 460px;
  padding: 80px 20px;
}
.about-sub {
  font-size: 20px;
  line-height: 1.64;
  color: #fff;
  margin-bottom: 8px;
}
.about-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #fff;
  margin-bottom: 24px;
}
.about-text {
  line-height: 1.56;
  color: #fff;
  margin-bottom: 24px;
}
.about-btn {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 167px;
  height: 50px;
  line-height: 1.56;
  color: #fff;
  background-color: #28a745;
}

/*--cases--*/

.cases {
  padding: 80px 0;
  text-align: center;
  color: #333;
}
.container {
}
.container-cases {
  padding: 0 28px;
}
.text-cases {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}
.cases-title {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
.subscribe-text {
  margin-bottom: 24px;
  line-height: 1.56444;
}
.cases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 21px;
}
.cases-item {
  width: calc((100% - 21px * 2) / 3);
}
.blog {
  background: #0284d0;
}
.blog > .container {
  display: flex;
}
.blog-container {
  width: 690px;
  padding: 80px 56px 80px 28px;
}

.blog-subtitle {
  font-size: 20px;
  line-height: 165%;
  color: #fff;
  margin-bottom: 8px;
}
.blog-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 126%;
  color: #fff;
  margin-bottom: 24px;
}
.blog-text {
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  margin-bottom: 24px;
}
.blog-btn {
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  background: #0284d0;
  padding: 10px 36px;
  border: 1px solid #fff;
  border-radius: 5px;
}
